body{
    margin:0px;
}

#background{
    padding:10px;
    width: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#canvasholder{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#corona-stats{
    background-color: white;
}

#info{
    visibility: hidden;
    position: absolute;
    padding: 5px;
    background-color: white;
    border: solid black thin;
    top:0;
    left:0;
}



#holder{
    width: 100%;
    display: inline-flex;
}

.settings{
    width: 50%;
    min-width: 300px;
}

.process{
    float: left;
    margin:5px;
    padding: 5px;
    background-color: #e0e0e0;
    width: fit-content;
    display: inline-grid;
}

.process:hover{
    background-color: #ccffcc;
}

.call{
    margin:5px;
    padding: 5px;
    background-color: #e0e0e0;
    width: fit-content;
    display: inline-grid;
}

.call:hover{
    background-color: #ccffff;
}

.holder{
    margin:10px;
}

#userinterface{
    background-color: #f6f6f6;
    padding: 10px;
    min-height: 400px;
}